
html {
  background-color: #f9faff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: url("./images/bg-pattern.svg"), linear-gradient(#f9faff, #f9faff);
  background-repeat: no-repeat;
  background-size: contain;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.svg-1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 75px;
  z-index: 1;
}
